/* Root Variables */
:root {
  --primary: #b6895b;
  --bg: #010101;
}

html {
  scroll-behavior: smooth;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

/* Body */
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  /* min-height: 5000px; */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #43301c;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("./img/Donat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 2rem;
  font-weight: 250;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section */
.about,
.menu-kami,
.kontak {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.menu-kami h2,
.kontak h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.about h2 span,
.menu-kami h2 span,
.kontak h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  font-size: 1.2rem;
  font-weight: 350;
  line-height: 1.6;
  margin-bottom: 0.8rem;
}

/* Menu Section */
.menu-kami p,
.kontak p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.menu-kami .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  gap: 2rem;
}

.menu-kami .row .menu-card {
  text-align: center;
  flex: 1 1 15%;
  max-width: 500px;
}

.menu-kami .row .menu-card img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.menu-kami .row .menu-card .menu-card-title {
  margin: 1.5rem auto 1rem;
  font-size: 1.2rem;
}

/* Contact Section */
.kontak {
  padding: 5rem 7%;
  background-color: #111;
  color: #fff;
  text-align: center;
  overflow: hidden;
  margin-top: 110px;
}

.kontak h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.kontak p {
  max-width: 40rem;
  margin: auto;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.kontak .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

iframe,
.map-container {
  width: 100%;
  max-width: 600px; /* Sesuaikan dengan desain */
  height: auto;
}

.kontak form {
  flex: 1 1 45%;
  background: #222;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.kontak form .input-group {
  margin-bottom: 1.5rem;
}

.kontak form .input-group input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #555;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
}

.kontak form .btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--primary);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.kontak form .btn:hover {
  background-color: #a4724f;
}

section#kontak::before {
  content: "";
  display: block;
  height: 230px; /* Sesuaikan dengan margin top */
  margin-top: -200px;
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .sosial {
  padding: 1rem 0;
}

footer .sosial a {
  color: #fff;
  margin: 1rem;
}

footer .sosial a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

/* Media Queries */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  .hero .content h1 {
    font-size: 4rem;
  }

  .hero .content p {
    font-size: 1.4rem;
  }
}

@media (max-width: 1024px) {
  .about .row {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .menu-kami .row .menu-card {
    flex: 1 1 45%;
  }

  .kontak .row {
    flex-direction: column;
    height: auto;
  }

  .kontak .row form {
    padding: 3rem 1rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in-out;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #fff;
  }

  .hero .content h1 {
    font-size: 3.5rem;
  }

  .hero .content p {
    font-size: 1.2rem;
  }

  .menu-kami .row .menu-card {
    flex: 1 1 100%;
  }

  .kontak .row {
    flex-direction: column;
  }

  .kontak form,
  .kontak .kontak-info {
    flex: 1 1 100%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .hero .content h1 {
    font-size: 3rem;
  }

  .hero .content p {
    font-size: 1rem;
  }

  .about .row .about-img img {
    max-width: 80%;
    margin: auto;
  }

  .menu-kami .row {
    flex-direction: column;
  }

  .kontak .row form {
    padding: 2rem 1rem;
  }

  .kontak .row .btn {
    font-size: 1rem;
  }
}
